<div class="footer-seom">
  <div class="footer-line">
    <%= image_tag "images/fundacionseom.png", class: "footer1image"%>
    <%= image_tag "images/e-oncologiawhite.png", class: "footer2image"%>
    <%= image_tag "images/seomwhite.png", class: "footer1image"%>
  </div>
<div class="footer-line">
  <p>3 260 72 98 </p>

   <%= link_to "certificacionseom@e-oncologia.org ", "form.html"  %>
   <%= link_to "Aviso legal", "form.html"  %>
    <%= link_to "Requisitos mínimos", "form.html"  %>
  <p> Requisitos </p>
  </div>
</div>
