<div id="lightbox-requisitos">
  <div class="condiciones">
    <h1>REQUISITOS MÍNIMOS</h1>
    <p>Para poder visualizar correctamente e-oncologia, los requisitos que todo PC debería tener son los siguientes:</p>
    <h5>1. Equipo mínimo</h5>
    <ul>
      <li>Pentium III o superior</li>
      <li>Memoria RAM: 256MB</li>
      <li>VGA: mínimo a 800x600 con 256 colores</li>
      <li>Sistema operativo: Windows 98 o superior</li>
      <li>Conexión a Internet: Cualquiera (módem / ADSL / cable / otras)</li>
    </ul>
  <h5>Navegadores</h5>
  <ul>
    <li>Internet Explorer 8 o superior. <%= link_to "descargar", "http://www.update.microsoft.com/windowsupdate/v6/thanks.aspx?ln=es&&thankspage=5", target: :_blank%></li>
    <li>Firefox 3 o superior. <%= link_to "descargar", "https://www.mozilla.org/es-ES/firefox/new/", target: :_blank%></li>
    <li>Google Chrome.  <%= link_to "descargar", "https://www.google.com/intl/es/chrome/", target: :_blank%></li>
    <li>Otros navegadores pueden dar errores al cargar las páginas</li>
  </ul>
  <h5>Software</h5>
  <p>Los cursos de e-oncologia requieren diferentes programas para funcionar correctamente. Asegúrese de que tiene el siguiente software en su PC. Si no es así, descárguelo desde aquí:</p>
  <ul>
    <li>Máquina virtual de Java (Sun). <%= link_to "descargar", "https://www.java.com/es/download/", target: :_blank%></li>
    <li>Flash Player. <%= link_to "descargar", "https://get.adobe.com/flashplayer/", target: :_blank%></li>
    <li>Acrobat Reader. <%= link_to "descargar", "https://get.adobe.com/reader/", target: :_blank%></li>
  </ul>
  <p>Se han detectado incompatibilidades con los siguientes softwares del mercado:</p>
  <ul>
    <li>Norton security center</li>
  </ul>


  </div>
</div>
