
<div class="titles">
  <h1>MÁSTER EN ONCOLOGÍA MÉDICA:
    CERTIFICACIÓN SEOM
  </h1>
  <p>La Certificación SEOM - Máster en Oncología Médica cuenta con la acreditación universitaria de la Universitat de Girona (60 créditos) y está adaptada al Plan Bolonia.

    Los profesores y autores de los contenidos han sido seleccionados por la SEOM entre los mejores especialistas de cada uno de sus ámbitos y e-oncología ha liderado la coordinación académica y científica de los contenidos, así como el soporte pedagógico y tecnológico del campus virtual.
  </p>
</div>


<div class="tabs">

  <%= link_to "Presentación", "#home" , class: "tab active", data: { toggle: 'tab'} %>
  <%= link_to "Objetivos", "#menu1" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Programa", "#menu2" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Dirección y Profesores", "#menu3" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Matrícula y Calendario", "#menu3" , class: "tab ", data: { toggle: 'tab'} %>
</div>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
     <% data.master.first[1].each do | detalle| %>
       <% detalle[1].each do |titulo, parrafo| %>
       <h2><%= titulo %> : </h2>
        <p><%= parrafo %></p>
       <% end %>
       <% end %>
    </div>
     <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div class="centered">
       <%= link_to "Inscríbete", "form.html" , class: " btn-home centered" %>
       </div>
  </div>


<div class="content">
  <p><%= data.master.first[1]%></p>


</div>

<div class="content">
  <% data.programas.each do |programa, detalle| %>
  <p><%= detalle[:name] %> : </p>
  <p><%= detalle[:descripcion] %></p>
  <% end %>
</div>

