
<div class="titles">
  <h1>MÁSTER EN ONCOLOGÍA MÉDICA:
    CERTIFICACIÓN SEOM
  </h1>
  <p>La Certificación SEOM - Máster en Oncología Médica cuenta con la acreditación universitaria de la Universitat de Girona (60 créditos) y está adaptada al Plan Bolonia.

    Los profesores y autores de los contenidos han sido seleccionados por la SEOM entre los mejores especialistas de cada uno de sus ámbitos y e-oncología ha liderado la coordinación académica y científica de los contenidos, así como el soporte pedagógico y tecnológico del campus virtual.
  </p>
</div>


<div class="tabs">

  <%= link_to "Presentación", "#presentacion" , class: "tab active", data: { toggle: 'tab'} %>
  <%= link_to "Objetivos", "#objetivos" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Programa", "#programa" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Dirección y Profesores", "#profesores" , class: "tab ", data: { toggle: 'tab'} %>
  <%= link_to "Matrícula y Calendario", "#calendario" , class: "tab ", data: { toggle: 'tab'} %>
</div>
  <div class="tab-content">
    <div id="presentacion" class="tab-pane faden active"><%= partial "master/presentacion" %></div>
    <div id="objetivos" class="tab-pane fade"><%= partial "master/objetivos" %></div>
    <div id="programa" class="tab-pane fade"><%= partial "master/programa" %></div>
    <div id="profesores" class="tab-pane fade"><%= partial "master/profesores" %></div>
    <div id="calendario" class="tab-pane fade"><%= partial "master/calendario" %></div>
    <div class="centered">
       <%= link_to "Inscríbete", "form.html" , class: " btn-home centered" %>
       </div>
       <br>
  </div>
  <br>
  <br>
  <br>




