
<%if curso%>
<div class="muestra">
  <div class="title-show show-down">
    <div class="title-show">
      <h2><%=data.courses[curso].first[1].titulo%></h2>
      <h3><%=data.courses[curso].first[1].subtitulo[0]%></h3>
      <br>
    </div>

  </div>
  <div class="show-left">
    <div class="title-show">
      <h2><%=data.courses[curso].first[1].titulo%></h2>
      <h3><%=data.courses[curso].first[1].subtitulo[0]%></h3>
      <br>
    </div>

      <div class="caja reducido">
      <div class="caja-titulo">
        <h5>PRESENTACIÓN</h5>
      </div>
    <%data.courses[curso].first[1].presentacion.each do |present|%>
     <p><%= present%></p>
     <% end %>
    </div>


    <div class="caja reducido">
    <h5>OBJETIVOS Y COMPETENCIAS</h5>
    <br>
    <% if data.courses[curso].first[1].objetivos[0] %>
      <h5>Objetivos</h5>
      <p><%data.courses[curso].first[1].objetivos.each do |objetivo|%>
       <p><%= objetivo%></p>
       <% end %>
    <% end %>
    <% if data.courses[curso].first[1].competencias[1] %>
      <h5>Competencias</h5>
      <ul><%data.courses[curso].first[1].competencias.each do |competencia|%>
        <li> <%= competencia%></li>
      <% end %>
    <% end %>
    </ul>
    <br>
    </div>


    <div class="caja reducido">
     <h5>PROGRAMA</h5>
      <ul><%data.courses[curso].first[1].programa.each do |modulo|%>
        <li> <%= modulo%></li>
      <% end %>
      </ul>
    </div>


    <div class="caja reducido">
    <h5>DIRECCIÓN Y PROFESORES</h5>
    <p><b>Profesores</b></p>
       <ul><%data.courses[curso].first[1].profesores.each do |profesor|%>
        <li> <%= profesor%></li>
     <% end %>
    </ul>

    <p><b>Dirección</b></p>
    <ul><%data.courses[curso].first[1].direccion.each do |director|%>
        <li> <%= director%></li>
     <% end %>
     </ul>

    <% if data.courses[curso].first[1].codireccion %>
      <p><b>Co-dirección</b></p>
      <ul><%data.courses[curso].first[1].codireccion.each do |codirector|%>
          <li> <%= codirector%></li>
       <% end %>
       </ul>
    <% end %>

    </div>
     <div class="logos">
      <% if data.courses[curso].first[1].logos %>
        <% data.courses[curso].first[1].logos.each do |logo| %>
        <%= image_tag logo, class: "logos__instance"  %>
        <% end %>
      <% end %>
    </div>



  </div>
  <div id="show-right">
    <div class="tall">
    <div class="imagen-curso-frame">
      <%= image_tag data.courses[curso].first[1].imagen,  class: "imagen-curso" %>
    </div>
    <h4>MATRÍCULA ABIERTA</h4>
    <br>
    <%= link_to "Inscríbete", "https://seom.org/preinscripcion-master-seom" , class: " btn-red centered" %>
    <br>
    <br>
    <p><b>Duración FMC: </b><%=data.courses[curso].first[1].matricula[0]%> </p>
    <p><b>Duración y créditos ECTS: </b><%=data.courses[curso].first[1].matricula[1]%></p>
    <p></p>
    <% if data.courses[curso].first[1].calendario %>
    <p><b>Calendario:</b><%=data.courses[curso].first[1].calendario%></p>
    <p><b>Tiempo para completar el curso: </b><%=data.courses[curso].first[1].tiempo%></p>
    <% end %>


    <% if data.courses[curso].first[1].logo %>
      <p><b>Patrocinado por:</b></p>
      <div class="logo-frame">
        <%= image_tag data.courses[curso].first[1].logo,  class: "logo" %>
      </div>
    <% end %>
    <br>
  </div>
  <br>
  </div>

  <div class="show-down">

    <div class="caja reducido">
      <div class="caja-titulo">
        <h5>PRESENTACIÓN</h5>
      </div>
    <%data.courses[curso].first[1].presentacion.each do |present|%>
     <p><%= present%></p>
     <% end %>
    </div>
    <div class="caja reducido">
    <h5>OBJETIVOS Y COMPETENCIAS</h5>
    <h5>OBJETIVOS </h5>
    <p><%data.courses[curso].first[1].objetivos.each do |objetivo|%>
     <p><%= objetivo%></p>
     <% end %>%>
    <h5>COMPETENCIAS</h5>
    <ul><%data.courses[curso].first[1].competencias.each do |competencia|%>
    <li> <%= competencia%></li>
     <% end %>
    </ul>
    <br>
    </div>
    <div class="caja reducido">
     <h5>PROGRAMA</h5>
      <ul><%data.courses[curso].first[1].programa.each do |modulo|%>
    <li> <%= modulo%></li>
     <% end %>
    </ul>
    </div>
    <div class="caja reducido">
    <h5>DIRECCIÓN Y PROFESORES</h5>
    <p><b>Profesores</b></p>
       <ul><%data.courses[curso].first[1].profesores.each do |profesor|%>
        <li> <%= profesor%></li>
     <% end %>
    </ul>

    <p><b>Dirección</b></p>
    <ul><%data.courses[curso].first[1].direccion.each do |director|%>
        <li> <%= director%></li>
     <% end %>
    </div>

  </div>
</div>

  <%end%>


