<!doctype html>
<html>
  <head>
    <title>SEOM - SEOM</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
      <meta property="og:title" content="Máster en oncología médica: certificación SEOM" />
    <meta property="og:image" content="/images/certificacionseom.png">
    <meta property="og:description" content="La Certificación SEOM es una iniciativa de la Sociedad Española de Oncología Médica (SEOM) que ofrece un programa de formación on-line completo en Oncología Médica, que complementa la adquisición de conocimientos que se adquiere en los hospitales como parte del programa MIR. La Certificación SEOM se hace en asociación con e-oncología y tiene dos itinerarios." />
    <meta property="og:url" content="http://seom.e-oncologia.org/seom" />
    <meta property="og:site_name" content="SEOM e-oncología"/>

    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon-seom.png' %>
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
  </head>
  <body>
    <%= partial "navbar" %>
    <%= partial "navbarxs" %>
    <div class="seom-container">
      <div class="basic-template">
        <%= yield %>
      </div>
    </div>
    <%= partial "footer" %>
    <%= partial "form" %>

  </body>
</html>
